target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypat
.project
.settings
.springBeans
.sts4-cache

.idea
*.iws
*.iml
*.ipr

.vscode/

auce-server/.idea/
auce-server/target/
auce-client/node_modules/